html {
  width: 800px;
  height: 600px;
}

#header {
  display: block;
  margin: auto;
  width: 50%;
}

#buttonDiv {
  display: flex;
  justify-content: center;
}

#tabWipe {
  display: block;
  margin: auto;
}

button {
  margin: 10px;
}
